<div class="small-container">
    <div class="row row-2">
      <h2>All Products</h2>
      
      
    </div>
    <div class="row">
      <div class="col-4">
        <img src="https://i.ibb.co/47Sk9QL/product-1.jpg" alt="" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>₹500.00</p>
      </div>
  
      <div class="col-4">
        <img src="https://i.ibb.co/b7ZVzYr/product-2.jpg" alt="" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>₹500.00</p>
      </div>
  
      <div class="col-4">
        <img src="https://i.ibb.co/KsMVr26/product-3.jpg" alt="" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <p>₹500.00</p>
      </div>
  
      <div class="col-4">
        <img src="https://i.ibb.co/0cMfpcr/product-4.jpg" alt="" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>₹500.00</p>
      </div>
    </div>
  
    <div class="row">
      <div class="col-4">
        <img src="https://i.ibb.co/47Sk9QL/product-1.jpg" alt="" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>₹500.00</p>
      </div>
  
      <div class="col-4">
        <img src="https://i.ibb.co/b7ZVzYr/product-2.jpg" alt="" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>₹500.00</p>
      </div>
  
      <div class="col-4">
        <img src="https://i.ibb.co/KsMVr26/product-3.jpg" alt="" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <p>₹500.00</p>
      </div>
  
      <div class="col-4">
        <img src="https://i.ibb.co/0cMfpcr/product-4.jpg" alt="" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>₹500.00</p>
      </div>
    </div>
  
    <div class="row">
      <div class="col-4">
        <img src="https://i.ibb.co/bQ5t8bR/product-5.jpg" alt="" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>₹500.00</p>
      </div>
  
      <div class="col-4">
        <img src="https://i.ibb.co/vVpTyBD/product-6.jpg" alt="" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>₹500.00</p>
      </div>
  
      <div class="col-4">
        <img src="https://i.ibb.co/hR5FGwH/product-7.jpg" alt="" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <p>₹500.00</p>
      </div>
  
      <div class="col-4">
        <img src="https://i.ibb.co/QfCgdXZ/product-8.jpg" alt="" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>₹500.00</p>
      </div>
    </div>
  
    <div class="row">
      <div class="col-4">
        <img src="https://i.ibb.co/nw5xZwk/product-9.jpg" alt="" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>₹500.00</p>
      </div>
  
      <div class="col-4">
        <img src="https://i.ibb.co/9HCsmjf/product-10.jpg" alt="" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>₹500.00</p>
      </div>
  
      <div class="col-4">
        <img src="https://i.ibb.co/JQ2MBHR/product-11.jpg" alt="" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <p>₹500.00</p>
      </div>
  
      <div class="col-4">
        <img src="https://i.ibb.co/nRZMs6Y/product-12.jpg" alt="" />
        <h4>Red Printed T-shirt</h4>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>₹500.00</p>
      </div>
    </div>
  
    <div class="page-btn">
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>&#8594;</span>
    </div>
  </div>

  <!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <div class="newsletter">
            <p>Sign Up for the <strong>NEWSLETTER</strong></p>
            <form>
              <input class="input" type="email" placeholder="Enter Your Email">
              <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
            </form>
            <ul class="newsletter-follow">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /NEWSLETTER -->